<div class="flex justify-start items-start h-full">
  <div class="text-black px-6 mb-12 md:px-12">
    <!-- What is vLocal -->
    <h2 class="text-4xl font-bold mt-10 mb-6">What is vLocal?</h2>
    <p class="text-base font-light leading-relaxed mt-0 mb-4 text-gray-800">
      The goal of the vLocal Project is to provide a privacy-aware digital
      identity platform which may be used for a variety of applications in the
      virtual and real worlds by Locals.
    </p>
    <p class="text-base font-light leading-relaxed mt-0 mb-4 text-gray-800">
      The populace should be able to use various services and perhaps conduct
      various types of commerce and communications, using a virtual identity
      scheme that they can trust, and which is useful in a uniform way (thereby
      being more easily understood, and hopefully then, more trustworthy again).
      By developing and deploying a city-scale identity platform that is open
      for use for a variety of applications, but which may be inspected by its
      users, we endeavor to build a culture of secure trust and privacy control
      placed in the hands of the users of their identity and the services
      attached to it. <a
        class="text-blue-600 hover:text-blue-800"
        href="https://github.com/CodeForVegas/ov-vlocal"
        >Click here for the full overview.</a
      >
    </p>
    <!-- What is vLocal -->
    <!-- Roadmap -->
    <h2 class="text-4xl font-bold mt-10 mb-6">vLocal Roadmap</h2>
    <p class="text-base font-light leading-relaxed mt-0 mb-4 text-gray-800">
      Coming soon.
    </p>
  </div>
</div>
